<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label for="username">帳號</label>
            <!--     name 給後端辨識   id 給前端( CSS )辨識   -->
            <input type="text" name="username" id="username" placeholder="請輸入帳號">
        </div>
        <div>
            <label for="username">密碼</label>
            <input type="password" name="password" id="password" placeholder="請輸入密碼">
        </div>
        <p>
            <button type="submit">登入</button>
        </p>
    </form>

</body>

</html>